@import "core/all";
@import "components/all";

body {
  margin: auto;
}

img {
	padding:2px;
    border:3px solid #2199e8;
    border-radius: 25px;
    background-color:#2199e8;
    margin-right: 10px;
    width: 40%;
    line-height: 1px;
}

.events_content {
  border-bottom: 0.1em solid #2199e8;;
  margin-top: 10px;
  padding: 7px;
}

.tag1 {
  font-size: 1.0em;
}
.tag2 {
  font-size: 1.2em;
}
.tag3 {
  font-size: 1.4em;
}
.tag4 {
  font-size: 1.6em;
}
.tag5 {
  font-size: 1.8em;
}
.content {
  padding: 1em 3em;
  border-bottom: 1px solid #d6dce0;
  background: #f5f7f9;
  color: #9eafba;
  padding-top: 20px;
  height: auto;
}

.user_nav {
  margin-right: 20px;
}
.search_1{
  position: relative;
  margin-top: -10px;
  margin: 6px;
}
.submit_1{
  margin: 8px;
  position: relative;
  margin-left: 210px;
  margin-top: -37px;
  padding-bottom: 6px;
}

